

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@1,100&family=Macondo&display=swap');

.home-title {
    font-size: 2em;
    font-family: 'macondo', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

img {
    display: block;
    width: 40%;
    margin: 0 auto;
}
p {
    width: 40%;
}
a { 
    font-size: 1.5em;
}
*{
    border: 2px solid rgb(0, 0, 0);
}
body {
    text-align: center;
    background-color: rgba(248, 248, 248, 0.767);
    opacity: 0.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
h2 {
    margin: 0;
}  
nav{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main p {
width: 80%;
margin:  0 auto;
text-align: center;
}
main p{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
* {
    border: 2px solid rgb(52, 59, 40);
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgb(20, 22, 34);
    text-align: center;
}
div {
    margin: 0 auto;
    width: 1000px; 
    text-align: center;
}
#content {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
#backgorund {
    height: 75px;
    background-color: rgb(76, 110, 110);
}

nav a:hover {
    background-color: rgb(44, 77, 77);
    color: rgb(239, 248, 245);
}
.join, .book {
    background-color: rgb(44, 30, 30);
    color: rgb(248, 240, 240);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: rgb(228, 222, 233);
    color: black;
}
.join:hover {
    background-color: rgb(247, 227, 178);
    color: black;
}
.msg {
    background-color: burlywood;
    line-height: 1.5em;
    font-size: .8em;
    padding: 35px;
}
.home-title {
    background-color: aliceblue;
    color: black;
}
.msg h2 {
    background-color: azure;
    color: black;
}
.msg p {
    background-color: rgb(70, 102, 102);
    color: rgb(5, 3, 3);
    padding-bottom: 15px;
} 
footer a {
    background-color: rgb(251, 255, 255);
    text-align: center;
    color: black;
    text-decoration: none;
}
footer a:hover {
    background-color: #6f7364;
    color: black;
}
.logo {
    width: 80px;
    color: rgb(236, 220, 220);
}
nav a {
    text-decoration: none;
    color: rgb(252, 248, 248);
    text-align: center;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #2c261e;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
}
#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow:  5px 5px 10px #6f7364;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    padding:  35px;
    background-color: #6f7364;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}