

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@1,100&family=Macondo&display=swap');

.home-title {
    font-size: 2em;
    font-family: 'macondo', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

img {
    display: block;
    width: 40%;
    margin: 0 auto;
}
p {
    width: 40%;
}
a { 
    font-size: 1.5em;
}
*{
    border: 2px solid rgb(167, 167, 240);
}
body {
    text-align: center;
    background-color: rgb(129, 129, 129);
    opacity: 0.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
h2 {
    margin: 0;
}  
nav{
    text-align: center;
}
#hero-msg {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main p {
width: 80%;
margin:  0 auto;
text-align: center;
}
main p{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
footer{
    background-color: rgb(203, 210, 216);
    color:rgb(22, 22, 24);
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;
}
* {
    border: 2px solid rgb(1, 1, 2);
}
header {
    background-color: rgb(75, 49, 49);
    text-align: center;
}
div {
    margin: 0 auto;
    width: 1000px; 
    text-align: center;
}
#content {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
#backgorund {
    height: 75px;
    background-color: rgb(129, 228, 228);
}

nav a:hover {
    background-color: rgb(44, 77, 77);
    color: rgb(239, 248, 245);
}
.join, .book {
    background-color: rgb(44, 30, 30);
    color: rgb(248, 240, 240);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: rgb(228, 222, 233);
    color: black;
}
.join:hover {
    background-color: rgb(247, 227, 178);
    color: black;
}
.msg {
    background-color: burlywood;
    line-height: 1.5em;
    font-size: .8em;
    padding: 35px;
}
.home-title {
    background-color: aliceblue;
    color: black;
}
.msg h2 {
    background-color: azure;
    color: black;
}
.msg p {
    background-color: rgb(70, 102, 102);
    color: rgb(5, 3, 3);
    padding-bottom: 15px;
} 
footer a {
    background-color: rgb(251, 255, 255);
    text-align: center;
    color: black;
    text-decoration: none;
}
footer a:hover {
    background-color: rgb(236, 232, 226);
    color: black;
}
.logo {
    width: 80px;
    color: rgb(236, 220, 220);
}
nav a {
    text-decoration: none;
    color: rgb(240, 232, 232);
    text-align: center;
    padding: 35px;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #2c261e;
}
main section img {
    box-sizing: border-box;
}