@import url('https://fonts.googleapis.com/css2?family=Atma&family=Lato:ital,wght@1,100&family=Ultra&display=swap');

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
  
}

img {
  position: relative;
  width: 100px;
  height: 100px;
}

nav a{
  padding: 10px;
  display: inline-block;
  position: relative;
  right: 2px;
  top: 10px;
  left: 200px;
  width: 10%;
  align-items:center ;
}

button {
  text-align: center;
  width: 30%;
  padding: 1px;
  left: 550px;
  top: 390px;
  position: relative;
}

h1 {
  text-align: center;
}
p{
  text-align: center;
}
div .month {
  width: 200px;
  height: 200px;
  right: 20px;
  float: right;
  
}
div .weekdays {
  width: 200px;
  height: 200px;
  float: right;
}
div .days {
  width: 200px;
  height: 200px;
  float: right;
}
footer h3 {
    display: inline-block;
    margin-right: auto;
    padding: 2px;   
}
footer div a {
  display: inline-block;
  padding: 40px;
  text-align: center;
  position: relative;
  left: 500px;
}
nav img {
  height: 220px;
  width: 220px;
}
footer img {
    height: 30px;
    width: 30px;
    padding-bottom: 20px;
    display: inline-block;
}
header {
  background-color: #9FA4A8;
  font-family: lato;
  font-size:x-large
}
body {
background-color: #6C8689;
font-family: ultra;
}
footer {
  background-color: #9FA4A8;
  font-family: lato;
}
header img {
  left: 25px;
  top: 25px;
}